<div class="footer">
  <a
    class="footer-link"
    href="https://github.com/abhishekreddy8604"
    target="_blank"
  >
    <i class="pi pi-github" style="font-size: 1.5rem"></i>
  </a>

  <a
    class="footer-link"
    href="https://www.linkedin.com/in/abhishek-reddy-326b5719a/"
    target="_blank"
  >
    <i class="pi pi-linkedin" style="font-size: 1.5rem"></i>
  </a>

  <a
    class="footer-link"
    href="https://www.instagram.com/abhishekreddy8604/"
    target="_blank"
  >
    <i class="pi pi-instagram" style="font-size: 1.5rem"></i
  ></a>
</div>
<div class="footer">
  <p>© {{ currentYear }} Abhishek Reddy</p>
</div>
