<div class="container-fluid">
  <h2 class="text-center">SKILLS</h2>
  <div class="row">
    <div class="col-md-5">
      <p-card>
        <p-chart type="radar" [data]="data" [options]="chartOptions"></p-chart>
      </p-card>
    </div>
    <div class="col-md-6">
      <p-card>
        <ul>
          <li>Mathematical aptitude</li>
          <li>Problem-solving skills</li>
          <li>Programming languages (C,C++,JAVA,JAVASCRIPT)</li>
          <li>Excellent organisational and time management skills</li>
          <li>Accuracy and attention to detail</li>
          <li>
            An understanding of the latest trends and their role in a commercial
            environment
          </li>
          <li>Teamwork skills</li>
          <li>
            Self-development skills to keep up to date with fast-changing trends
          </li>
        </ul>
      </p-card>
    </div>
  </div>
</div>
